header{
    height: 50px;
    background-color: black;
}
.image{
    height:50px;
}
.container{
    background-color: aliceblue;
}
.heading > h1{
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    text-transform: uppercase;
    font-size: 40px;
}